
*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 20px;
}
header{
    margin:0;
    padding: 0;
    height: 100vh;
    background:linear-gradient(to bottom right, rgba(0, 4, 255, 0.678));
     text-align:center ;
    font-size:xx-large;
    color:aliceblue;
    
}
.btn{
    margin:5px;
    border-radius:25px;
    height: 50px;
    padding:10px 20px;
    width: 100px;
    border: none;
    cursor: pointer;
}
h1{
    font-size: 3rem;
    color:rgba(255, 0, 0, 0.623);

}
header h1{
    margin:0;
    color:aliceblue;
}
.btn:hover
{
    color:azure;
    background-color: rgb(79, 42, 165);
}
img{
    height:200px;
}
section{
    background-color: rgb(196, 205, 255);
    height:100vh;
border: 2px solid grey;
margin:30px;
border-radius: 30px;
text-align: center;
}
table,th,tr,td{

    border:2px solid black ;
    border-collapse: collapse;
}

.input{
border-radius: 5px;
border:1px solid lightcyan;
heigth:25px;
}

footer{
    text-align: center;
}